body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(rgb(0, 249, 236), rgb(71, 150, 229));
}

#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
  margin-top: 30px;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
  margin-top: 30px;
}

.header_text {
  font-family: "Nunito";
  font-size: 50px;
  font-weight: bold;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.text {
  font-family: "Nunito";
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
/* Ensure the container takes up the full height of the page */
html, body {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style for the Shaikat link */
.shaikat-link {
  position: absolute; /* Position it absolutely within the container */
  bottom: 10px; /* Position at the bottom */
  right: 10px; /* Position at the right */
  margin: 0; /* Remove default margin */
}

.shaikat-link a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  font-weight: bold; /* Make text bold */
}